root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
# Trailing spaces are significant in Markdown (line breaks)
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.toml]
indent_size = 4

[*.json]
indent_size = 2
